:root {
    --modo-escuro-body: #7F8487;
    --modo-escuro-principal: #181818;
    --modo-escuro-dias: #413F42;
    --modo-escuro-hover: #393E46;
    --modo-escuro-letra: #EEEEEE;

    --light-body: #F9F9F9;
    --light-principal: #F7F6DC;
    --light-dias: #B1D7B4;
    -light-hover: #FFF9CA;
    --light-letra: #3D3C42;

    --sombra:rgba(56, 56, 56, 1) 1px 7px 30px 2px;

    --fonte:'Source Code Pro', monospace;
}