* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dark{
    --bg-body: var(--modo-escuro-body);
    --bg-main: var(--modo-escuro-principal);
    --bg-second: var(--modo-escuro-dias);
    --color-hover: var(--modo-escuro-hover);
    --color-text: var(--modo-escuro-letra);
    --hover-botao: var(--modo-escuro-botao);
    --bg-btn-hover: var(--modo-botao-hover);
    --hover-dia: var(--modo-hover-dia);
}

.estilo-clean {
    --bg-body: var(--light-body);
    --bg-main: var(--light-principal);
    --bg-second: var(--light-dias);
    --color-hover: var(--light-hover);
    --color-text: var(--light-letra);
    --hover-botao: var(--light-botao);
    --bg-btn-hover: var(--light-botao-hover);
    --hover-dia: var(--light-hover-dia);
}


html,
body {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: var(--fonte);
    background-color: var(--bg-body);
}

.calendario {
    height: max-content;
    width: max-content;
    background-color: var(--bg-main);
    padding: 1.2rem;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.estilo-clean .calendario {
    box-shadow: var(--sombra)
}

.calendario-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem;
    font-size: 1.2rem;
    color: var(--color-text);
    font-weight: 600;
}

.calendario-dias {
    padding: 0.9rem;
}

.semanas-dias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-weight: 600;
    height: 3.1rem;
    color: var(--bg-second);
}

.semanas-dias div {
    display: grid;
    place-items: center;
}

.dias-numero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
    color: var(--color-text);
    cursor: pointer;
    
}

.dias-numero div {
    width: 3.1rem;
    height: 3.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
}

.dias-numero-hover:hover:not(.data-atual){
    background-color:var(--hover-dia);;
    border-radius: 50%;
    font-weight: 700;
}

.dias-numero div.data-atual,
.dias-numero div.data-atual:hover{
    background-color: #3FA796;
    color: white;
    border-radius: 50%;
}

.seleciona-ano{
    display: flex;
    align-items: center;
}

.muda-ano {
    display: grid;
    place-items: center;
    margin: 0 0.3rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.muda-ano:hover {
    background-color: var(--color-hover);
}

.mudar {
    display: flex;
    justify-content: flex-end;
}

.modo-calendario{
    padding: 0.3rem;
    border: 2.2px solid #203239;
    border-radius: 25px;
    background-color: var(--hover-botao);
    font-weight: 600;
    color: var(--color-text);
    cursor: pointer;
}

.modo-calendario:hover {
    background-color: var(--bg-btn-hover);
    box-shadow: rgba(56, 56, 56, 1) 2px 2px 6px 2px;
    transition-delay: 0.2s;
}

